// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@600&family=Roboto:wght@100&display=swap');

// font-family: 'Bebas Neue', cursive;
// font-family: 'Nunito', sans-serif;
// font-family: 'Roboto', sans-serif;

// variables fonts
$ff-1: 'Bebas Neue', cursive;
$ff-2: 'Nunito', sans-serif;
$ff-3: 'Roboto', sans-serif;

// variables color palette
$color-1: #1F8A70;
$color-2: #373a40;
$color-3: #eeeeee;

// breakpoints
$small: '600px';
$medium: '960px';
$large: '1264px';
$extra-large: '1904px';

@mixin desde_hasta ($desde, $hasta) {
    @media screen and (min-width: $desde) and (max-width: $hasta) {
        @content;
    }
}

@mixin desde ($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}